@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.background1 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.baslik {
  background-color: rgb(76, 76, 76);
  color: white;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  width: 30rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1.5rem;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  outline: 10px inset #a366a5;
  outline-offset: 1rem;
}

.paragraf {
  text-align: center;
  padding: 2rem;
  background-color: rgb(241, 241, 241);
  color: #666666;
}

.paragraf h2 {
  margin: 2rem;
}

.paragraf p {
  line-height: 2rem;
  padding: 2rem;
  margin: 2rem;
}

.background2 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.background2 img {
  width: 30rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}

.aws {
  background-color: #282e34;
  color: #dddddd;
}

.background3 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.background3 h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 47rem;
  padding: 0.5rem 0rem;
  outline: 7px inset #a366a5;
  outline-offset: 0.3rem;
}

.background4 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.background4 p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  padding: 0.5rem 0rem;
  outline: 7px inset #a366a5;
  outline-offset: 0.3rem;
}

.why_cw {
  background-color: #282e34;
  color: #dddddd;
}

.background_last {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.background_last h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 47rem;
  padding: 0.5rem 0rem;
}
